services:
  backend:
    build:
      context: ./backend
    container_name: innovacoreapp-backend
    env_file:
      - ./backend/.env
    ports:
      - "8000:8000"
    extra_hosts:
      - "host.docker.internal:host-gateway"
